@mixin hexagon ($bg, $w-l, $w-m, $w-r, $h) {
	.hexagon {
		height: $h;
		width: #{$w-l+$w-m+$w-r};
		
		div:nth-child(1) {
			border-bottom: #{$h/2} solid transparent;
			border-right: #{$w-l} solid #{$bg};
			border-top: #{$h/2} solid transparent;
			height: 0px;
			width: 0px;
			z-index: 1;
		}

		div:nth-child(2) {
			background: #{$bg};
			width: $w-m;
			height: $h;
			z-index: 2;
		}
		
		div:nth-child(3) {
			border-bottom: #{$h/2} solid transparent;
			border-left: #{$w-r} solid #{$bg};
			border-top: #{$h/2} solid transparent;
			height: 0px;
			width: 0px;
			z-index: 1;
		}
		
		div{
			float: left;
			position: relative;
		}
		
	}
}

@mixin oval ($bg, $w, $h , $x, $y) {

	.oval{
		background: #{$bg};
		border-radius: #{$x} / #{$y};
		-webkit-border-radius: #{$x} / #{$y};
		-moz-border-radius: #{$x} / #{$y};
		height: $h;
		width: $w;
	}
	
}

@mixin triangle-SAS ($left-side, $angle, $right-side, $color) {

	.triangle {
        background: -webkit-linear-gradient(left top, transparent 50%, $color 50%), transparent;
        background: linear-gradient(-45deg, transparent 50%, $color 50%), transparent;
        // border-top-left-radius: 50%;
        // -webkit-border-top-left-radius: 50%;
		height: $right-side;
		transform: rotate(#{$angle + 45deg});
		-ms-transform: rotate(#{$angle + 45deg}); /* IE 9 */
		-webkit-transform: rotate(#{$angle + 45deg}); /* Opera, Chrome, and Safari */
		width: $left-side;
	}

}
